body {
    background-color: #ecffff;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(145, 145, 145);
    border-width: 5px;
    /*width for border which is differet from the box width*/
    height: 0px;
    /*This height is for the box which we dont want so we have setted it to 0*/
    width: 5%;
    /*width for the box (can be in px/%)*/
}

table {
    margin-left: 7px;
}

h1 {
    color: #008080;
}

h3 {
    color: #008080;
}